<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
<packageSources>
    <add key="Manulife Resources" value="http://10.234.24.10/artifactory/api/nuget/nuget-release"/>
  </packageSources>
-->
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>
